
*{
    margin: 0;
    padding: 0;
    
}

p{
    font-family: Roboto, Arial;
}


.container{
    width: 100%;
    height: 100vh;
}
/* STYLING THE NAV BAR */
.nav-bar{
    width: 100vw;
    background: orange;
    position: fixed;
}

.nav-bar ul{
    display: flex;
    margin-left: 500px;
    list-style-type: none;
    padding-left: 50px;
}
.nav-bar ul li{
    margin-left: 40px;
    padding: 20px 0 20px 0;
}

.nav-bar ul li a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 20px 0 20px 0;
}
/* END OF NAV BAR */

/* STYLING THE CARDS */

.video-grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.thumbnail-container{
    margin-bottom: 12px;
}
.thumbnail{
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: border-radius 0.1s;
}
.thumbnail:hover{
    border-radius: 0;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.p-image{
    width:40px;
    border-radius: 25px;
}

.video-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author, .video-stats{
    font-size: 14px;
    color: #606060;
    
}

.video-author{
    margin-bottom: 5px;
} 