
:root{
    --color1: green;
    --color2: blue;
    --color3: yellow;
}
.container{
    margin: auto;
    width: 50%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    /* grid-template-areas: 
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer"; */
}
/* Absolute
   Sticky
   Fixed
   relative
   static  */
.item{
    width: 1fr;
    height: 100px;
    border: 1px solid black;
    background: lightpink;
}
.item-1{
    background-color: green;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;

}
/* .item-1{
    grid-area: header;
}

.item-2{
    grid-area: main;
}

.item-3{
    grid-area: sidebar;
}

.item-4{
    grid-area: footer;
} */

